body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url(https://images.unsplash.com/photo-1506102383123-c8ef1e872756?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}

h1 {
  text-align: center;
  margin-top: 30px;
}

h2 {
  text-align: center;
  margin-top: 10px;
  color: #e11010e5;
}

.calculadora {
  width: 350px;
  margin: 0 auto;
  background-color: #88c8eadb;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 
}

#pantalla {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: right;
  box-sizing: border-box;
}

input[type="button"] {
  width: 70px;
  height: 50px;
  margin: 5px;
  font-size: 16px;
  background-color: #eee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #ddd;
}

footer {
  background-color: dimgray;
  color: aliceblue;
  padding: 15px;
  text-align: center;
  position: relative;
  width: 100%;
  bottom: 0;
}

@media screen and (max-width: 480px) {
  .calculadora {
    width: 100%;
    padding: 10px;
  }

  input[type="button"] {
    width: calc(25% - 10px);
    height: 50px;
    margin: 5px;
    font-size: 16px;
  }

  footer {
    background-color: rgb(59, 60, 56);
    color: rgb(154, 197, 235);
    padding: 15px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
}
